<header
  class="d-flex justify-content-between align-items-center p-3 bg-opacity-50"
>
  <div class="logo fs-4 fw-bold">📚 NoteCraft</div>
  <nav class="d-flex gap-3">
    <a href="/signup" class="btn btn-success">Sign Up</a>
    <a href="/login" class="btn btn-success">Login</a>
  </nav>
</header>
